In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv('../data/jigsaw_toxic_comments/train.csv', index_col='id')
test_data = pd.read_csv('../data/jigsaw_toxic_comments/test.csv', index_col='id')
test_labels = pd.read_csv('../data/jigsaw_toxic_comments/test_labels.csv', index_col='id')

In [3]:
len(train_data), len(test_data)

(159571, 153164)

In [4]:
merged_test_data = pd.merge(test_data, test_labels, left_index=True, right_index=True)

In [5]:
merged_test_data.describe()

,toxic,severe_toxic,obscene,threat,insult,identity_hate
count,153164.000000,153164.000000,153164.000000,153164.000000,153164.000000,153164.000000
mean,-0.542530,-0.579895,-0.558193,-0.580913,-0.559916,-0.577642
std,0.572465,0.498408,0.542966,0.496195,0.539594,0.503260
min,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
50%,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
merged_test_data = merged_test_data[merged_test_data['toxic'] != -1]

In [7]:
merged_test_data.describe()

,toxic,severe_toxic,obscene,threat,insult,identity_hate
count,63978.000000,63978.000000,63978.000000,63978.000000,63978.000000,63978.000000
mean,0.095189,0.005736,0.057692,0.003298,0.053565,0.011129
std,0.293478,0.075522,0.233161,0.057334,0.225160,0.104905
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
len(merged_test_data)

63978

In [12]:
merged_test_data.to_csv('../data/jigsaw_toxic_comments/merged_test.csv')