In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

def tf_idf(text: pd.Series):
    vectorizer = TfidfVectorizer()
    X = vectorizer.fit_transform(text)
    return vectorizer, X

In [2]:
corpus = [
        'This is the first document.',
        'This document is the second document.',
        'And this is the third one.',
        'Is this the first document?',
    ]
vectorizer, X = tf_idf(corpus)

In [3]:
tfidf_df = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

In [4]:
tfidf_df = tfidf_df.stack().reset_index()\
    .rename(columns={0:'tfidf', 'level_0': 'document','level_1': 'term', 'level_2': 'term'})

In [5]:
tfidf_df.head()

   document      term     tfidf
0         0       and  0.000000
1         0  document  0.469791
2         0     first  0.580286
3         0        is  0.384085
4         0       one  0.000000

In [10]:
top_tfidf = tfidf_df.sort_values(by=['document','tfidf'], ascending=[True,False]).groupby(['document']).head(10)

In [23]:
top_tfidf.head()

   document      term     tfidf
2         0     first  0.580286
1         0  document  0.469791
3         0        is  0.384085
6         0       the  0.384085
8         0      this  0.384085